* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.carousel {
    width: 100%;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
}

/* .carousel::-webkit-scrollbar {
    display: none;
} */

.carousel::-webkit-scrollbar-button {
    content:'right';
    border: none;
    background-color: white;
    font-family: "Outfit", sans-serif;
    font-size: 3rem;
    color: #000;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    padding-bottom: .1em;
    cursor: pointer;
}


.card {
    flex: 0 0 20em;
    height: 12em;
    background-color: #d4defb;
    padding: 1em;
    border-radius: .5em;
    text-align: center;
    align-items: center;
}